@page "/counter"

<PageTitle>Counter</PageTitle>

@inject SharedStateService SharedState

<h3>Component 2</h3>
<p>Shared Data: @_currentValue</p>

@code {
    private string _currentValue;

    protected override void OnInitialized()
    {
        SharedState.value.Subscribe(value =>
        {
            _currentValue = value;
            InvokeAsync(StateHasChanged); // Notify the component to re-render
        });
    }
}